.main-layout {
  background: #f8f9fa;
}
.post-layout {
  max-width: 75%;
  padding-left: 25%;
  padding-top: 30px;
}
.ft__httt {
  width: 145px;
  height: 27px;
  font-size: 13px;
  background-image: url('https://fptshop.com.vn/Content/v4/images/iconft.png?v=20176');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.ft__cer-one{
     display: inline-block;
     width: 40px;
     height: 40px;
     background-image: url('https://fptshop.com.vn/Content/v4/images/iconft.png?v=20176');
     background-repeat: no-repeat;
     background-position: -329px -32px;
   }
.ft__cer-two{
  display: inline-block;
  width: 100px;
  height: 40px;
  background-image: url('https://fptshop.com.vn/Content/v4/images/iconft.png?v=20176');
  background-repeat: no-repeat;
  background-position: 0 -34px;
}
.ft__cer-two{
    margin: -5px 0 -5px 5px;
}
.ft__cer-three{
    display: inline-block;
    width: 215px;
    height: 45px;
    background-image: url('https://fptshop.com.vn/Content/v4/images/iconft.png?v=20176');
    background-repeat: no-repeat;
    background-position: -104px -29px;
}
.ft__related-website{
    display: inline-block;
    width: 102px;
    height: 30px;
    background-image: url('https://fptshop.com.vn/Content/v4/images/iconft.png?v=20176');
    background-repeat: no-repeat;
    background-position: 0px -75px;
}
.sale-post{
    box-shadow: inset 0px -90px 120px rgba(0, 0, 0, 0.8);
    min-width: 331px;
    height: 221px;
}
.selling-post{
   width: 331px;
}
.sale-img{
    min-width: 331px;
}