/*@import '~antd/dist/antd.css';*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*--primary: #f6891f;*/
    --primary: #ee4d2d;
    --primary-gradient: linear-gradient(var(--primary),#ff7337);
    --primary-bg: #fef6f5;
    --white: #FFFFFF;
  }
}
